% include('header.html')

<div class="jumbotron">
  <div class="container lbanner">
    <h1>Hello, PandaRSS!</h1>
    <p>PandaRSS是一个基于 ToughRADIUS V2 API 的自助服务系统。</p>
<!--         <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
  </div>
</div>
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>套餐办理</h2>
      <p>为您提供在线套餐办理，支持支付宝缴费，实时开通。 支持的资费类型：预付费包月，预付费时长，买断包月，买断时长，预付费流量，买断流量。</p>
      <p><a class="btn btn-default" href="/product" role="button">详情进入 &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>账号管理</h2>
      <p>提供账号详细信息查询，账号基本信息，包括订购套餐，到期时间等。支持对账号的密码修改，在线续费，在线充值，实时生效。 </p>
      <p><a class="btn btn-default" href="/account" role="button">详情进入 &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>订购查询</h2>
      <p>查询用户历史订购记录，订购资费套餐，订购时间，缴费金额。</p>
      <p><a class="btn btn-default" href="/orders" role="button">详情进入 &raquo;</a></p>
    </div>
  </div>
</div>

% include('footer.html')

